@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&family=Space+Grotesk:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #0071c2;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px; 
}

body{
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    margin: 150px auto;
    width: 90%;

}
img{
    max-width: 700px;
    float: left;
    margin-right: 20px;
}

#project_title{
    float: left;
}

 #members{
    padding-top: 60px;
 }