#col2 {
  background-color: rgba(198, 163, 144, 1);
}

#btn1 {
  background-color: white;
  margin-bottom: 50px;
}

.text-dark {
  /*--bs-text-opacity: 1;*/
  /*color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;*/
}

#card1 {
  align-content: center;
  justify-content: center;
}

#btn1 {
}

#exampleInputEmail {
  border-radius: 0px;
}

.form-control {
  outline: none;
  border: none;
  margin-bottom: 20px;
}

#btn2 {
  border-radius: 5px;
  background-color: rgba(198, 163, 144, 1);
  margin-bottom: 40px;
  border: none;
}

#p2 {
  /*align-items: left;*/
  text-align: left;
}

#row1 {
  background-color: white;
}

#remember {
}

#forgotten {
  float: right;
  text-align: right;
}

